body {

    margin: 5px;
    padding: 2px;
    background-color: #ffffff;
    color: #333;
}

h1 {
 
    background-color: #b81a1a;
    color: #fff;
    padding: 10px;
    align-items: center;
}

h2 {
    color:  #b81a1a;
    background-color: rgba(238, 238, 238, 0.9);
    padding: 5px;
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px;
    padding: 10px; 
    border: 1px solid #ccc;
    background-color: #f5f5f5; 
    border-radius: 5px;
    margin-right: 60%;
}

li a {
    text-decoration: none;
    color: #333; 
}

li:hover {
    background-color: #ddd;
}

a {
    text-decoration: none;
    color:  #b81a1a;
    background-color: rgba(240, 240, 240, 0.9); 
    padding: 3px 5px;
}

a:hover {
    text-decoration: underline;
}

p {
    line-height: 1.5;
    margin-bottom: 20px;
}


.sidebar {
    margin: 0 auto;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    box-shadow: 0 0 5px rgba(67, 65, 65, 0.2);
    border-radius: 5px;
    color: #333;
    background-color: #e07575;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
